*
  margin: 0
  padding: 0
  box-sizing: border-box
  position: relative

=bp_tablet
  @media screen and (max-device-width: 1260px), (max-width: 1260px)
    @content

=bp_phone
  @media screen and (max-device-width: 767px), (max-width: 767px)
    @content

//fonts//

@font-face
  font-family: "rainer"
  src: url('../fonts/rainer.ttf') format('truetype')

@font-face
  font-family: "cart"
  font-weight: light
  src: url('../fonts/cartograph_light.ttf') format('truetype')

@font-face
  font-family: "cart"
  font-weight: normal
  src: url('../fonts/cartograph_medium.otf') format('opentype')

@font-face
  font-family: "stellar"
  font-weight: bold
  src: url('../fonts/stellar_bold.ttf') format('truetype')

  @font-face
    font-family: "stellar"
    font-weight: normal
    src: url('../fonts/stellar.ttf') format('truetype')
