.portfolio
  display: flex
  flex-wrap: wrap
  a
    display: flex
    //border: 2px solid white
    flex: 0 0 24.7vw
  img
    display: inline
    margin: auto
    width: 90%
    height: 24.7vw
    object-fit: cover
    //border-radius: 50%



//a:hover
  box-shadow: inset 400px 0 0 0 yellow
  z-index: 1



.artist-info
  background-color: black
  position: absolute
  z-index: 1
  display: flex
  bottom: 0
  left: 5%
  align-items: center
  padding: 7px 10px 0 10px
  width: 90%
  & > *
    flex-grow: 1
    &:nth-child(2)
      text-align: right
