@import "constant"
@import "portfolio"

//body//

body
  background: url("/images/space.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-color: black
  text-transform: uppercase
  font: normal 62.5% "stellar"
  color: white


.desktop
  +bp_phone
    display: none

h1
  font:  27em "rainer"
  color: white
  line-height: 1em
  color: #fee000
  transform: scaleY(1.75)
  line-height: 1.75em
  +bp_phone
    font-size: 15em


h2
  font: 1.9em "stellar"
  color: white
  +bp_phone
    font-size: 1.4em

h3
  font: 1.4em "cart"
  +bp_phone
    font-size: 1.2

a
  color: white

//header//

.top-section
  height: 100vh
.top-section-filler
  position: fixed
  width: 100vw
  z-index: -1

header, footer
  display: flex
  justify-content: space-between
  align-items: center
  width: 100vw
  padding: 40px
  z-index: 1
  +bp_phone
    padding: 20px
header
  position: absolute
footer
  background-color: black
  +bp_phone
    flex-direction: column
  p
    font-size: 1.4em
    +bp_phone
      font-size: 1.2em
      margin-bottom: 20px

.pnca
  height: 120px
  +bp_phone
    height: 60px

.signup
  display: inline-block
  padding: 0 50px
  outline: 2px solid white
  font: 2em "cart"
  text-decoration: none
  line-height: 75px
  transition: .2s ease-in-out
  +bp_phone
    font-size: 1.6em
    line-height: 60px
    padding: 0 30px
  &:hover
    background-color: #fee000
    color: black
    outline-color: black


.logoblock_container
  display: flex
  height: 100vh
  text-align: center

.logoblock
  margin: auto

//
