
<section class="portfolio">
<a target="_blank" href="http://www.oatmeats.com">
    <img src="/images/abby.jpg"/>
    <div class="artist-info">
    <h2>Abby St Johns</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

  <a target="_blank" href="http://alexisfennillustration.com">
      <img src="/images/alexis.jpg"/>
    <div class="artist-info">
    <h2>Alexis</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

  <a target="_blank" href="http://birdschneider.com">
    <img src="/images/bird.jpg"/>
    <div class="artist-info">
    <h2>Bird Schneider</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://www.christinengelberth.com">
  <img src="/images/christin.jpg"/>
  <div class="artist-info">
    <h2> Christine Engelberth</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

  <a target="_blank" href="http://conormacbride.me">
    <img src="/images/conor.jpg"/>
    <div class="artist-info">
    <h2>Conor MacBride</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

  <a target="_blank" href="http://danrafalski.com">
    <img src="/images/dan.jpg"/>
    <div class="artist-info">
    <h2> Dan Rafalski</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

  <a target="_blank" href="http://the-emdemic.com">
    <img src="/images/emily.jpg"/>
    <div class="artist-info">
    <h2>Emily Cress</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

  <a target="_blank" href="http://www.sparkle-mart.com">
    <img src="/images/hannah.jpg"/>
    <div class="artist-info">
    <h2>Hannah Grace Nissen</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="">
  <img src="/images/"/>
  <div class="artist-info">
    <h2>Irene Ramirez</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>

<a target="_blank" href="">
  <img src="/images/"/>
  <div class="artist-info">
    <h2>James Alas</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://jemirving.com">
  <img src="/images/jem.jpg"/>
  <div class="artist-info">
    <h2>Jem Irving</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://jesssaultz.wixsite.com/graphicdesign">
  <img src="/images/jessica.jpg"/>
  <div class="artist-info">
    <h2>Jessica Saultz</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://juliepugmireillustration.com">
  <img src="/images/julie.jpg"/>
  <div class="artist-info">
    <h2>Julianne Pugmire</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://www.kniftykat.com">
  <img src="/images/kathryn.jpg"/>
  <div class="artist-info">
    <h2>Kathryn Herndon</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://www.wallach.design">
  <img src="/images/keith.jpg"/>
  <div class="artist-info">
    <h2>Keith Wallach</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>

<a target="_blank" href="">
  <img src="/images/kiana.jpg"/>
  <div class="artist-info">
    <h2>Kiana Kinchelow</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://leilanigalindo.com">
  <img src="/images/leilani.jpg"/>
  <div class="artist-info">
    <h2>Leilani Galindo</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://lucybrownillustration.com">
  <img src="/images/lucy.jpg"/>
  <div class="artist-info">
    <h2>Lucy Brown</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://">
  <img src="/images/mack.jpg"/>
  <div class="artist-info">
    <h2>Mackenzie (Echo) Chambers</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://margies.myportfolio.com">
  <img src="/images/margie.jpg"/>
  <div class="artist-info">
    <h2>Margie Rischiotto</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://sparkykneecap.com">
  <img src="/images/mack.jpg"/>
  <div class="artist-info">
    <h2>Maria Rodriguez</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="">
  <img src="/images/molly.jpg"/>
  <div class="artist-info">
    <h2>Molly Price</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="">
  <img src="/images/nico.jpg"/>
  <div class="artist-info">
    <h2>Nicolas Filoseta</h2>
    <h3>Grahic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://parkerbowen.com">
  <img src="/images/parker.jpg"/>
  <div class="artist-info">
    <h2>Parker Bowen</h2>
    <h3>Grahic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://www.shelby.design">
  <img src="/images/"/>
  <div class="artist-info">
    <h2>Shelby Lynch</h2>
    <h3>Grahic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://www.Sorenciverson.com">
  <img src="/images/soren.jpg"/>
  <div class="artist-info">
    <h2>Soren Iverson</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://www.artandsteph.com">
  <img src="/images/steph.jpg"/>
  <div class="artist-info">
    <h2>Stephanie Dickerson</h2>
    <h3>Interactive Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://www.stevenxue.co">
  <img src="/images/steven.jpg"/>
  <div class="artist-info">
    <h2>Steven Xue</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>

<a target="_blank" href="http://www.taylerhoward.com">
  <img src="/images/tayler.jpg"/>
  <div class="artist-info">
    <h2>Tayler Howard</h2>
    <h3>Illustrator</h3>
  </div>
  </a>

<a target="_blank" href="http://www.yenkhoang.myportfolio.com">
  <img src="/images/yen.jpg"/>
  <div class="artist-info">
    <h2>Yen Hoang</h2>
    <h3>Graphic Designer</h3>
  </div>
  </a>







</section>
